{
    "presets": [ "@babel/env","@babel/react"],
    "env": {
        "production": {
          "plugins": ["transform-react-remove-prop-types",["react-remove-properties", {"properties": ["data-test"]}
          ]
        ]
      }
    }
  }